!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LolcalhostOrg
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %h1
        =link_to_unless_current "Raindrops", root_url
      .row
        %blockquote
          %em
            Raindrops on roses and whiskers on kittens
            %br
            Bright copper kettles and warm woolen mittens
            %br
            Brown paper packages tied up with strings
            %br
            These are a few of my favorite things
      .notice
        = notice
      .alert
        = alert
      = yield

